<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
  </head>
  <body>
    <p>Unauthorized: {{message}}</p>
  </body>
</html>